#container {
	padding: 10px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(219, 219, 233);
	text-align: center;
}
#header {
	padding-bottom: 50px;
}
#content {
	height: 400px;
}
#watch {
	width: 400px;
	float: left;
}
#control {
	width: 380px;
	float: right;
}
#footer {
	clear: both;
}
h3 {
	margin-bottom: 0;
}
#duration-text {
	color: brown;
}
